<h2>ngIf</h2>

<p *ngIf="condition; else elseBlock">True</p>

<ng-template #elseBlock>
    <p>False</p>
</ng-template>

<p *ngIf="conditionClick">
    True
</p>

<p *ngIf="!conditionClick">
    False
</p>

<button (click)="onClick()">Click</button>

<hr>

<h2>ngFor</h2>

<button (click)="onClickAddPessoa()">Adicionar</button>
<ul>
    <li *ngFor="let pessoa of listaPessoas; let i = index" (click)="onClickEventList(i)">
        {{i}} - {{pessoa.nome}} - idade: {{pessoa.idade}}
    </li>
</ul>

<hr>

<h2>ngSwitch</h2>

<input type="text" [(ngModel)]="nome">
<div [ngSwitch]="nome">
    <p *ngSwitchCase="'eduardo'">Eduardo</p>
    <p *ngSwitchCase="'joao'">Joao</p>
    <p *ngSwitchCase="'pedro'">Pedro</p>
    <p *ngSwitchDefault>procurando nome...</p>
</div>

<hr>
